---
layout: _html
---
{%- render "partials/header", collectionsAll: collections.all, page: page -%}
<main class="container max-w-screen-xl mx-auto px-4 py-4">
  <div class="aside-nav hidden fixed lg:block">
    {%- render "partials/aside-nav", collectionsAll: collections.all, page: page -%}
  </div>
  <div class="card-list lg:pl-[19.5rem]">
    {%- for card in collections[collectionKey] -%}
      <div class="card">
        <div class="card-content prose">
          <a class="block relative invisible -top-16" id="{{ card.fileSlug }}"></a>
          <h2>
            <a class="hover:underline underline-offset-2" href="#{{ card.fileSlug }}">
              {{ card.data.title }}
              <span class="anchorLabel hidden">#</span>
            </a>
          </h2>
          {{ card.templateContent }}
          <a href="{{ card.url }}">查看更多</a>
        </div>
      </div>
    {%- endfor -%}
  </div>
</main>