---
layout: _html
---
{%- render "partials/header", collectionsAll: collections.all, page: page, env: env -%}
<div id="notesContainer">
  <div class="note" data-note-url="{{ page.url }}">
    <div class="noteWrapper">
      <div class="content markdown-body">
        <h1>{{ title }}</h1>
        {{ content }}
      </div>
      <div class="metaInfo">
        <a class="noteURL" href="{{ env.SERVER_ENV | append: page.url }}" target="_blank">Permanent Link</a> ·
        <time class="updatedAt">Updated: {{ page.date | postDate }}</time>
      </div>
    </div>
  </div>
</div>