---
layout: _html
---
{%- render "partials/header", collectionsAll: collections.all, page: page, env: env -%}
<div id="notesContainer">
  <div class="note" data-note-url="{{ page.url }}">
    <div id="notesHeader">
      <div id="notesListHeaderWrapper">
          <h1>{{ title }}</h1>
          <div class="listDesc markdown-body">
            {{ content }}
          </div>
      </div>
    </div>
    <div id="notesList">
      {%- for card in collections[collectionKey] reversed -%}
        <div class="noteItem" id="{{ card.data.page.fileSlug }}">
            <div class="noteWrapper">
                <div class="content markdown-body">
                  <h2>
                    {{ card.data.title }}
                  </h2>
                  {{ card.templateContent }}
                </div>
                <div class="metaInfo">
                    <a class="noteURL" href="{{ env.SERVER_ENV | append: card.url }}" target="_blank">Permanent Link</a> ·
                    <time class="updatedAt">Updated: {{ card.date | postDate }}</time>
                </div>
            </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>