---
layout: _html
---
{%- render "partials/header", collectionsAll: collections.all, page: page -%}
<div id="notesContainer">
  <div class="note" data-note-url="{{ page.url }}">
    <div id="notesHeader">
      <div id="notesListHeaderWrapper">
          <span class="icon"></span>
          <h1>{{ page.url | cleanTag }}</h1>
      </div>
    </div>
    <div id="notesList">
      {%- for card in collections[collectionKey] -%}
        <div class="noteItem" id="{{ card.data.page.fileSlug }}">
            <div class="noteWrapper">
                <div class="content markdown-body">
                  <h1>{{ card.data.title }}</h1>
                  {{ card.templateContent }}
                </div>
                <div class="metaInfo">
                    <a class="noteURL" href="{{ "https://www.littletunnel.com" | append: card.url }}" target="_blank">Permanent Link</a> ·
                    <time class="updatedAt">Updated: {{ card.date | postDate }}</time>
                </div>
            </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>